body{
    font-family: Arial, Helvetica;
    background: #e8e8e8;
}

body h1 {
    font-family: Arial, Helvetica;
}

.Menu{
    list-style: none;
   
}

.Menu li a{
    text-decoration: none;
    padding: 20px;
    display: block;
}

.Menu li{
    display: inline-block ;
    text-align: center;
}

.Menu li a:hover{
    background: #ef8354;
}

